<h1>Add new author</h1>

<%= form_with model: @author do |f|%>
<%= f.text_field :name, placeholder:"Enter author name" %>
<%= f.text_field :age, placeholder:"Enter age" %>
<%= f.text_field :gnder, placeholder:"gender" %>
<%= f.submit("save author")%>

<%end%>
