<h1>List of Books</h1>

<%= link_to('ADD NEW Book','#',:class=> 'action new')%>
<br>
<br>
<br>    
<table class="listing" summary="book lis">
<tr class="header">
 <th>no</th>
 <th>a_id</th>
 <th>Title</th> 
 <th>Published</th>
 <th>Action</th>
</tr>

<% @allbooks.each do |book| %>
<tr> <% id = book.id%>
<td> <%=book.id%></td>
<td> <%=book.author_id%></td>
<td> <%= book.title%></td>
<td> <%=book.published_at%></td>
 <td> 
 <%= link_to('show',singlebook_path(id))%>
 <%= link_to('edit','')%>
 <%= link_to('delete','#')%>
 </td>
</tr>
<%end%>

</table>