<h1>List of Books</h1>

<%= link_to('ADD NEW Book',new_book_path, :class=> 'action new')%>
<br>
<br>
<br>    

<table>
<% @allbooks.each do |book| %>
 <tr>
 <td><%=book.author_id%></td>
 <td><%= book.title%></td> 
 <td><%= button_to('show',book_path(book),method: 'get')%></td>
 <td><%= button_to('edit',edit_book_path(book),method: 'get')%></td>
 <td><%= button_to('remove',book_path(book),method: 'delete')%></td>
</tr> 
<%end%>
</table>